<% layout("layouts/boilerplate")%>
    <style>
        li>b {
            color: crimson;
        }
        
        li>i {
            color: red;
            font-weight: bolder;
        }
        
        .set-div-h {
            height: 200px;
            border-radius: 0;
        }
    </style>
    <h1 class="ms-5 mb-3">All the Campgrounds</h1>
    <ul>
        <% for(camp of list){ %>
            <div id="overflow" class="card mb-3 flex-row set-div-h">
                <% if ((camp.images)[0]){ %>
                    <div class="col-md-4">
                        <img src="<%=camp.images[0].url%>" class="img-fluid set-img-h" alt="">
                    </div>
                    <% }%>
                        <div class="col-md-8">
                            <h2 class="card-header">
                                <%=camp.title%>
                            </h2>
                            <li class="card-header">
                                <%=camp.location%>
                            </li>
                            <li class="card-header py-2"><a class="btn btn-info" href="/index/<%=camp._id%>">Show Details</a></li>
                            <li class="card-footer bg-white"><i>ZAR&nbsp;</i><b> R<%= camp.price %></b> </li>
                        </div>
            </div>
            </div>
            <%}%>
    </ul>